<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace ="goods">
  <insert id="insert" parameterType="goodsDto">
  	INSERT INTO GOODS1
  	VALUES(#{goods_no},#{member_id},#{goods_title},#{goods_main_photo},#{goods_price},#{goods_quantity},#{goods_photo},#{goods_content},SYSDATE)
  </insert>
  <select id="selectList" resultType ="goodsDto">
  	SELECT GOODS_NO, MEMBER_ID, GOODS_TITLE, GOODS_MAIN_PHOTO, GOODS_PRICE, GOODS_QUANTITY, 
  	GOODS_PHOTO, GOODS_CONTENT, GOODS_REGDATE
  	FROM GOODS
  </select>
  
  
  </mapper>